* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

.container {
    display: flex;
    height: 700px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo img {
    height: 100%;
    width: 300px;
    background-image: url(html/logo.PNG);
}

.info {
    background-color: #0d1b2a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 50px;
    width: 50%;
    text-align: center;
}

.info h2 {
    color: #fff;

}

.info p {
    color: #fff;
}

.text-1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.text-2 {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}

.form-container {
    padding: 150px; /* Ajusté el padding para hacerlo más proporcionado */
    width: 50%;
    background-color: #e8e8e8;
    text-align: center;
    padding: 10px;
}
.form-container h2{
    margin-top: 120px;
    font-size: 34px;
}
.form-container p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form h1 {
    color: #0d1b2a;
    text-align: center;
}

.inputs {
    text-align: center;
}

.controls {
    width: 100%; /* Ajusté el ancho para ocupar todo el contenedor */
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box; /* Incluí el padding en el ancho total del control */
    border: 1px solid #ccc; /* Añadí un borde para mejorar la apariencia */
    border-radius: 4px;
}



.login-form {
    padding: 10px;
    margin-top: 10px;
}
.inputs-registro button {
    text-align: center;
    background-color: #0d1b2a;
    color: #fff;
    border: 2px solid #0d1b2a;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.inputs-registro button:hover {

    background-color: #e8e8e8;
    color: #0d1b2a;
    border-color: #0d1b2a;
}